<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Templates</title>
  <link rel="stylesheet" href="styles1.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;900&family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="container">

      <a href="C:\Web Development\try\1RESUME\resume\res1\resume.html">
        <figure class="card card--1" style="--image-src: url('file:///C:/Users/HP/Downloads/temps/r1.png')">
          <figcaption>
            <span class="info">
              <h3>Davy Grey</h3>
              <span>#595260</span>
            </span>
            <!-- <span class="links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://unsplash.com/photos/78A265wPiO4" target="_blank"><i class="fas fa-share"></i></a>
            </span> -->
          </figcaption>
        </figure>
      </a>

      <a href="C:\Web Development\try\1RESUME\resume\res2\resume.html">
        <figure class="card card--2" style="--image-src: url('file:///C:/Users/HP/Downloads/temps/r2.png')">
          <figcaption>
            <span class="info">
              <h3>Teal</h3>
              <span>#069A8E</span>
            </span>
            <!-- <span class="links">
              <a href="#"><i class="fas fa-heart"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://unsplash.com/photos/TFyi0QOx08c" target="_blank"><i class="fas fa-share"></i></a>
            </span> -->
          </figcaption>
        </figure>
      </a>

      <a href="C:\Web Development\try\1RESUME\resume\res3\resume.html">
        <figure class="card card--3" style="--image-src: url('file:///C:/Users/HP/Downloads/temps/r3.png')">
          <figcaption>
            <span class="info">
              <h3>Bulgarian Rose</h3>
              <span>#44000D</span>
            </span>
            <!-- <span class="links">
              <a href=""><i class="fas fa-heart"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://unsplash.com/photos/PP8Escz15d8" target="_blank"><i class="fas fa-share"></i></a>
            </span> -->
          </figcaption>
        </figure>
      </a>

      <a href="C:\Web Development\try\1RESUME\resume\res4\resume.html">
        <figure class="card card--4" style="--image-src: url('file:///C:/Users/HP/Downloads/temps/r4.png')">
          <figcaption>
            <span class="info">
              <h3>Dark</h3>
              <span>#222831</span>
            </span>
            <!-- <span class="links">
              <a href=""><i class="fas fa-heart"></i></a>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://unsplash.com/photos/DLwUVlzrP0Q" target="_blank"><i class="fas fa-share"></i></a>
            </span> -->
          </figcaption>
        </figure>
      </a>

    </div>
  </div>



  <div class="support">
    <a href="https://twitter.com/DevLoop01" target="_blank"><i class="fab fa-twitter-square"></i></a>
    <a href="https://dribbble.com/devloop01" target="_blank"><i class="fab fa-dribbble"></i></a>
  </div>
</body>

</html>
